body {
    padding: 0;
    background: url(./images/background.jpg);
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    position: absolute;
    color: aliceblue;
}
.buttons {
    position: absolute;
    top: 8px;
    right: 16px;
    border: 5px;
    border-radius: 10px;
}